# Python Functions

In [1]:
def add_numbers(x, y):
    return x + y

print(add_numbers(1, 2))

3

In [4]:
def add_numbers(x, y, z = None):
    if z == None:
        return x + y
    else:
        return x + y + z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

# Types and Sequences

In [6]:
type(add_numbers)

function

In [8]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [9]:
x = [1, 'a', 2, 'b']
type(x)

list

In [10]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [11]:
for item in x:
    print(item)

1
a
2
b
3.3

In [13]:
i = 0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [14]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [15]:
[1] * 3

[1, 1, 1]

In [16]:
1 in [1, 2, 3]

True

In [17]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [18]:
x[-1]

'g'

In [19]:
x[3:]

's is a string'

In [20]:
x[:3]

'Thi'

In [21]:
firstname = 'Christopher'
lastname = 'Brooks'

In [25]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]
print(firstname)
print(lastname)

Christopher
Brooks

# Dates and Times

In [27]:
import datetime as dt
import time as tm

In [28]:
tm.time()

1527518641.6426473

In [29]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 5, 28, 23, 44, 23, 123450)

In [30]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2018, 5, 28, 23, 44, 23)

In [31]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(100)

In [32]:
today = dt.date.today()

In [33]:
today - delta

datetime.date(2018, 2, 17)

In [34]:
today > today - delta

True

# Objects and map()